PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=52.192.254.77
ServerActive=52.192.254.77
Hostname={{ ansible_fqdn }}
Include=/etc/zabbix/zabbix_agentd.d/
